{# Layouts and macros #}
{% extends "_layout/site" %}
{% import '_macros/form' as form %}

{% block content %}
<div class="bg-black py-80">
    <section class="container">
        <article class="flex items-center">
        <div class="w-6/12">
            {% for image in entry.imageOne %}
                <img class="w-300" src="{{image.url()}}" alt="contact">
            {% endfor %}        
        </div>
        <div class="w-6/12 text-white">
            <h1 class="text-25 font-serif uppercase">{{ entry.title }}</h1>
            <p class="mb-20">Do you have a question? Feel free to contact me any time!</p>
            <form action="/action_page.php" class="w-4/6 | js-validate">
                <div class="flex justify-between gap-10">
                    {{ form.input('', { placeholder: 'Firstname'|t, id: 'firstName', name: 'firstName', type: 'firstName', class: 'mr-10 border-white' }) }}
                    {{ form.input('', { placeholder: 'Lastname'|t, id: 'lastName', name: 'lastName', type: 'lastName', class: 'border-white' }) }}
                </div>
                    {{ form.input('', { placeholder: 'E-mail address'|t, id: 'email', name: 'email', type: 'email', class: 'border-white' }) }}
                    {{ form.textarea('', { placeholder: 'message'|t, id: 'message', name: 'message', type: 'message', class: 'border-white mb-30'  }) }}
                <button type="submit" class="border border-white text-white py-10 px-20 block w-max uppercase hover:bg-white hover:text-black transition duration-300">Send</button>
            </form> 
        </div>
        </article>
    </section>
</div>
{% endblock %}