{# Layouts and macros #}
{% extends "_layout/site" %}
{% import '_macros/form' as form %}

{% block content %}
<div class="bg-black py-80">
    <section class="container">
        <article class="flex flex-col-reverse lg:flex-row items-center">
        <div class="w-12/12 mt-40 lg:mt-0 lg:w-6/12">
            {% for image in entry.imageOne %}
                <img class="w-300" src="{{image.url()}}" alt="contact">
            {% endfor %}        
        </div>
        <div class="w-12/12 lg:w-6/12 text-white">
            <h1 class="text-25 font-serif uppercase">{{ entry.title }}</h1>
            <p class="mb-20">Do you have a question? Feel free to contact me any time!</p>
            <form class="w-6/6 lg:w-4/6 | js-validate" method="post" action="{{ url(craft.app.request.pathInfo) }}" accept-charset="UTF-8" enctype="multipart/form-data">
                {{ actionInput('guest-entries/save') }}
                {{ hiddenInput('sectionUid', '7bfd2eb5-6578-4433-9c41-d19176243b02') }}
                {{ hiddenInput('fields[siteId]', currentSite.id) }}
                {{ redirectInput(craft.app.request.absoluteUrl) }}
                {{ csrfInput() }}
                {{ craft.snaptcha.field }}
                <div class="flex justify-between gap-10">
                    {{ form.input('', { placeholder: 'Firstname'|t, id: 'firstName', name: 'fields[firstName]', type: 'firstName', class: 'mr-10 border-white' }) }}
                    {{ form.input('', { placeholder: 'Lastname'|t, id: 'lastName', name: 'fields[lastName]', type: 'lastName', class: 'border-white' }) }}
                </div>
                    {{ form.input('', { placeholder: 'E-mail address'|t, id: 'email', name: 'fields[email]', type: 'email', class: 'border-white' }) }}
                    {{ form.textarea('', { placeholder: 'message'|t, id: 'message', name: 'fields[message]', type: 'message', class: 'border-white mb-30'  }) }}
                <button type="submit" class="border border-white text-white py-10 px-20 block w-max uppercase hover:bg-white hover:text-black transition duration-300">Send</button>
            
                <div class="js-success-message h-0 overflow-hidden">
                    <div class="mt-6">
                        <p>We received your message.</p>
                    </div>
                </div>            
            </form> 
        </div>
        </article>
    </section>
</div>

<script>
import axios from 'axios';
import FormDataValidator from 'form-data-validator';
import isEmail from 'validator/lib/isEmail';
import equals from 'validator/lib/equals';
import * as Ladda from 'ladda';

export default class Validation {
  constructor() {
    // Variables
    this.forms = [...document.querySelectorAll('.js-validate')];
    this.successMessageWrapper = document.querySelector('.js-success-message');

    // Functions
    this.onSubmit = this.submitHandler.bind(this);

    this.init();
  }

  init() {
    this.validateForms();
    this.addEvents();
  }

  validateForms() {
    this.forms.forEach((form) => {
      const options = {
        scrollToFirstError: false,
        parentSelector: 'div',
        ignoreFields: ['g-recaptcha-response'],
        customTypes: [{
          type: 'email',
          rule: (field) => isEmail(field.value),
          message: 'dit is geen geldig e-mailadres'
        }],
        rules: [{
          field: '#newPassword',
          rule: (field) => equals(field.value, form.querySelector(field.dataset.equalTo).value)
        }]
      };

      FormDataValidator.validateForm(form, options);
    });
  }

  addEvents() {
    this.forms.forEach((form) => {
      form.addEventListener('submit', this.onSubmit);
    });
  }

  submitHandler(event) {
    const form = event.currentTarget;
    // const loader = Ladda.create(form.querySelector('[type="submit"'));

    if (form.isValid()) {
      event.preventDefault();
      this.submit(form);
    } else {
      // form is not valid
      event.preventDefault();
    }
  }

  submit(form, token = null) {
    // Regular Submit
    if (typeof form.dataset.ajax === 'undefined') {
      form.submit();
      return;
    }

    // Ajax submit
    const loader = Ladda.create(form.querySelector('[type="submit"]'));
    loader.start();

    const path = (form.getAttribute('action') != null && form.getAttribute('action') !== '')
      ? form.getAttribute('action') : '/';
    const formData = new FormData(form);
    if (token) formData.set('g-recaptcha-response', token);
    axios.post(path, formData, {
      headers: { 'X-Requested-With': 'XMLHttpRequest' },
    }).then((response) => {
      Ladda.stopAll();
      if (response.data.errors || !response.data.success) {
        if (response.data.spam) {
          alert('Het lijkt erop dat jouw bericht werd onderschept als spam. Indien dit probleem zich blijft voordoen, gelieve dan met ons contact op te nemen.'); // eslint-disable-line
        } else {
          this.showResponse({ form, isError: true, message: response.data.errors });
        }
      } else {
        this.showResponse({ form, isError: false, message: window.successMessage });
      }
    }).catch((err) => {
      console.log(err);
      alert('Er ging iets mis met het contactformulier. Gelieve met ons contact op te nemen.'); // eslint-disable-line
    });
  }

  showResponse(options = {}) {
    this.resetFields(options.form);
    const successBanner = this.successMessageWrapper.querySelector('div');

    if (options.isError) {
      successBanner.classList.add('border-red-500');
      successBanner.innerHTML = '';
      Object.keys(options.message).forEach((property) => {
        successBanner.innerHTML += `<p>${options.message[property]}</p>`;
      });
    }

    let h = 0;

    if (this.successMessageWrapper) {
      this.successMessageWrapper.classList.remove('h-0');
      h = this.successMessageWrapper.offsetHeight;
      this.successMessageWrapper.classList.add('h-0');
      this.successMessageWrapper.style.transition = 'height 0.35s ease-in-out';
      // Trigger reflow
      this.successMessageWrapper.offsetWidth; // eslint-disable-line no-unused-expressions
      this.successMessageWrapper.style.height = `${h}px`;
    }
  }

  resetFields(form) {
    [...form.querySelectorAll('input:not([type="hidden"]),select,textarea')].forEach(
      (field) => {
        field.value = '';
      }
    );
  }
}

</script>
{% endblock %}