{% extends "_layout/site" %}

{% block app %}

    <div class="js-header">
        {% include "_layout/partials/header.twig" %}
    </div>

    <main class="container js-grid">
        <h1 class="font-serif uppercase text-pink-500 text-25 md:text-50 w-6/12">{{entry.title}}</h1>
        <ul class="flex flex-wrap items-center mt-20">
        {% if entry.descriptionOne is not null %}
            <div class="w-12/12 lg:w-8/12 my-40">
                <p class="lg:w-8/12 text-9" >{{entry.descriptionOne|nl2br}}</p>
            </div>
        {% endif %}

            {% for image in entry.imageTwo.all() %}
            <li class="w-12/12 sm:w-6/12 lg:w-3/12 mb-30 px-10 cursor-pointer">
                <img class="js-thumbnail" src="{{image.url()}}" alt="hero" data-fullscreen-url="{{image.url()}}">
            </li>
            {% endfor %}                          
        </ul>
    </main>

    <section class="hidden js-img-detail">
        <section class="absolute z-30 top-30 left-30">
            <button onclick="closeFullscreen()" class="flex items-center mb-20"><img class="rotate-90 mr-10" src="../assets/www/svg/cross.svg" alt="hero"></button>
        </section>

        <section class="">
            <div class="button-next hidden lg:block -rotate-90 right-10 top-[50%] lg:right-25 -translate-y-1/2 absolute z-[2]">
                <img class="w-10 transition-transform transform hover:scale-110" src="../assets/www/svg/arrow.svg" alt="hero">
            </div>
            <div class="relative">
                <div class="overflow-hidden swiper js-slider">
                    <ul class="block swiper-wrapper">
                        {% for image in entry.imageTwo.all() %}
                        <li class="swiper-slide">
                            <img class="h-screen mx-auto image-fullscreen" src="{{image.url()}}" alt="hero">
                        </li>
                        {% endfor %}                          
                    </ul>
                </div>
            </div>
            <div class="button-prev hidden lg:block rotate-90 top-[50%] left-20 lg:left-25 absolute -translate-y-1/2 z-[2]">
                <img class="w-10 transition-transform transform hover:scale-110" src="../assets/www/svg/arrow.svg" alt="hero">
            </div>
        </section>

        {# <div class="absolute z-10 bottom-40 right-40">
            <img class="" src="../assets/www/svg/grid.svg" alt="grid">
        </div> #}
    </section>

<script>
    function closeFullscreen() {
        const grid = document.querySelector('.js-grid');
        const imgDetail = document.querySelector('.js-img-detail');
        const header = document.querySelector('.js-header');

        grid.classList.toggle('hidden');
        imgDetail.classList.toggle('hidden');
        header.classList.remove('hidden');
    }

    function openFullscreen() {
        const thumbnailImages = document.querySelectorAll('.js-thumbnail');
        const fullscreenImage = document.querySelector('.image-fullscreen');
        const grid = document.querySelector('.js-grid');
        const imgDetail = document.querySelector('.js-img-detail');
        const header = document.querySelector('.js-header');

        thumbnailImages.forEach((thumbnail) => {
            thumbnail.addEventListener('click', () => {
                const fullscreenUrl = thumbnail.dataset.fullscreenUrl;
                fullscreenImage.src = fullscreenUrl;
                grid.classList.toggle('hidden');
                imgDetail.classList.toggle('hidden');
                header.classList.add('hidden');
            });
        });
    }

    openFullscreen();
</script>

{% endblock %}
