{# Layouts and macros #}
{% extends "_layout/site" %}

{% block content %}
    <div class="relative -top-110 left-0">
    {% for image in entry.imageOne %}
        <img class="h-screen w-full object-cover relative top-0 left-40" src="{{image.url()}}" alt="hero">
    {% endfor %}
    </div>

    <section class="container">
        <article class="flex mb-100 items-center">
            <h2 class="w-5/12 text-50 font-serif uppercase">{{entry.titleOne|nl2br}}</h2>
            <div class="w-7/12 flex">
                <div class="w-400">
                    <img src="../assets/www/images/Mockup-3.jpg" alt="Mockup-1">
                </div>
                <div class="w-400">
                    <img class="w-400" src="../assets/www/images/Mockup-2.jpg" alt="Mockup-2">
                </div>
            </div>
        </article>

        <article class="flex mt-100 my-200 items-center">
            <div class="w-6/12">
                {% for image in entry.imageTwo %}
                    <img src="{{image.url()}}" alt="hero">
                {% endfor %}
            </div>
            <div class="w-4/12 mx-auto">
                <h2 class="text-50 font-serif uppercase">{{entry.titleTwo|nl2br}}</h2>
                <p class="w-3/4 py-20 text-9">{{entry.descriptionOne}}</p>
                {{ include ("_layout/partials/button", {button: entry.linkOne}) }}
            </div>
        </article>

        <article class="flex items-center mb-200">
            <div class="w-4/12 mx-auto">
                <h2 class="text-50 font-serif uppercase">{{entry.titleThree|nl2br}}</h2>
                <p class="w-3/4 py-20 text-9">{{entry.descriptionTwo|nl2br}}</p>
                {{ include ("_layout/partials/button", {button: entry.linkTwo}) }}
            </div>
            <div class="w-5/12 mx-auto">
                {% for image in entry.imageThree %}
                    <img src="{{image.url()}}" alt="hero">
                {% endfor %}            
            </div>
        </article>
    </section>

{% endblock %}
