{# Layouts and macros #}
{% extends "_layout/site" %}

{% set categories = craft.categories.group('shop') %}
{% set currentCategory = craft.categories.group('shop').title(craft.app.request.pathInfo) %}
{% set products = craft.products().type(craft.app.request.pathInfo).limit(3) %}
{% paginate products as pageInfo, pageProducts %}

{% block content %}
    <section class="container mb-120">
        <div class="w-fit mx-auto mb-30">
            {% if categories|length %}
            <div class="relative" x-data="{ open: false }">
                <button class="flex font-medium items-center py-3 px-6 border-b-2 border-black" x-on:click="open = !open" type="button" x-model="filter">
                    {{ currentCategory.title }}
                    <img :class="{ 'rotate-180': open }" class="ml-10" src="../assets/www/svg/arrow.svg" alt="hero">
                </button>
                <div class="absolute z-10 p-2 bg-pink min-w-full capitalize w-max text-black text-14 rounded-[10px] mt-10 shadow-md" x-show="open" x-cloak>
                    <ul class="p-15 rounded-sm bg-pink">
                        {% for category in categories %}
                        <li class="pb-10 last:pb-0">
                            <a href="{{ category.url }}" class="hover:underline">{{ category.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>

        <ul class="flex flex-wrap items-center mt-20">
            {% if pageProducts|length == 0 %}
                <h2 class="uppercase font-sans-wide text-h3 mx-auto">{{ 'Come back when we have more...'|t }}</h2>
            {% endif %}
            {% for product in pageProducts %}
                <li class="w-12/12 sm:w-6/12 lg:w-4/12">
                    {% include '_commerce/shop/partials/thumbnail' %}
                </li>
            {% endfor %}
        </ul>

        {# Pagination #}
            {% if pageInfo.totalPages > 1 %}
            <span class="relative top-80">page {{ pageInfo.currentPage }} of {{ pageInfo.totalPages }}</span>
            <div class="flex justify-center mt-50 text-base items-center">
                {% for page, url in pageInfo.getPrevUrls() %}
                    <div class="relative">
                        <a class="mx-20" href="{{ url }}">{{ page }}</a>
                    </div>
                {% endfor %}
                    <div class="relative">
                    <span class="mx-20 text-bold">{{ pageInfo.currentPage }}</span>
                    </div>
                {% for page, url in pageInfo.getNextUrls() %}
                    <div class="relative">
                        <a class="mx-20" href="{{ url }}">{{ page }}</a>
                    </div>
                {% endfor %}
            </div>
            {% endif %}
    </section>
{% endblock %}

{# 
<div>
  <div>
    <label for="filter-input">Filter:</label>
    <input id="filter-input" type="text" >
  </div>
  <ul>
    {% for product in products %}
      <li class="w-4/12" ">
        {% include '_commerce/shop/partials/thumbnail' %}
      </li>
    {% endfor %}
  </ul>
</div> #}