{# Layouts and macros #}
{% extends "_layout/site" %}

{% set categories = craft.categories.group('shop') %}
{% set currentCategory = craft.categories.group('shop').title(craft.app.request.pathInfo) %}
{% set products = craft.products()
    .status('enabled')
    .type(craft.app.request.pathInfo)
    .limit(12) %}
{% paginate products as pageInfo, pageProducts %}

{% block content %}

    <section class="container mb-120">
        <div class="w-fit mx-auto mb-30">
            {% if categories|length %}
                <ul class="flex">
                    {% for category in categories %}
                    <li class="mx-30 text-11 items-center p-10">
                        <a href="{{ category.url }}" class=" pb-[.5rem] {% if category.url == craft.app.request.absoluteUrl %}font-medium border-b-2 border-black{% else %}hover:border-b-2 hover:border-black{% endif %}">{{ category.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>


        <ul class="flex flex-wrap items-center mt-20">
            {% if pageProducts|length == 0 %}
                <h2 class="uppercase font-sans-wide text-h3 mx-auto">{{ 'Come back when we have more...'|t }}</h2>
            {% endif %}
            {% for product in pageProducts %}
                <li class="w-12/12 sm:w-6/12 lg:w-4/12 mb-30 px-10 relative">
                    {% include '_commerce/shop/partials/thumbnail' %}
                </li>
            {% endfor %}
        </ul>

        {# Pagination #}
            {% if pageInfo.totalPages > 1 %}
            <span class="relative top-[6.5rem]">page {{ pageInfo.currentPage }} of {{ pageInfo.totalPages }}</span>
            <div class="flex justify-center mt-50 text-base items-center">
                {% for page, url in pageInfo.getPrevUrls() %}
                    <div class="relative">
                        <a class="mx-20" href="{{ url }}">{{ page }}</a>
                    </div>
                {% endfor %}
                    <div class="relative">
                    <span class="mx-20 font-bold">{{ pageInfo.currentPage }}</span>
                    </div>
                {% for page, url in pageInfo.getNextUrls() %}
                    <div class="relative">
                        <a class="mx-20" href="{{ url }}">{{ page }}</a>
                    </div>
                {% endfor %}
            </div>
            {% endif %}
    </section>
{% endblock %}