{% extends "_layout/site" %}

{% set categories = craft.categories.group('galleryFilters') %}
{% set galleryPages = craft.entries.section('galleryPages') %}

{% block content %}
    <section class="container">
        <article class="flex mt-50 mb-50">
            <div class="w-3/12">
                {% if categories|length %}
                <ul  class="fixed left-100 bottom-100">
                    {% for category in categories %}
                    <li class="py-15 hover:font-medium"><a href="{{ category.url }}">{{ category.title }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}       
            </div>
            <div class="w-9/12 mx-auto text-9">
                <div class="relative mb-40 -right-140">
                    {% for galleryPage in galleryPages %}
                        <a href="{{ galleryPage.url }}">
                        {% for image in galleryPage.imageOne %}
                            <img src="{{image.url()}}" alt="hero">
                        {% endfor %}                          
                        {{ galleryPage.title }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </article>
    </section>
{% endblock %}
