{% extends "_layout/site" %}

{% set categories = craft.categories.group('galleryFilters') %}
{% set galleryPages = craft.entries.section('galleryPages') %}

{% block content %}
    <section class="ml-60">
        <article class="w-12/12 flex flex-wrap mt-50 mb-50 items-center">
            {% for galleryPage in galleryPages %}
                <a href="{{ galleryPage.url }}" class="w-4/12 gap-20">
                {% for image in galleryPage.imageOne %}
                    <img class="w-300 pb-40" src="{{image.url()}}" alt="work" loading="lazy">
                {% endfor %}                          
                </a>
            {% endfor %}
        </article>
    </section>
{% endblock %}

{# 
    <section class="container">
        <article class="flex mt-50 mb-50">
            <div class="w-3/12">
                {% if categories|length %}
                <ul  class="fixed left-100 bottom-100">
                    {% for category in categories %}
                    <li class="py-15 hover:font-medium"><a href="{{ category.url }}">{{ category.title }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}       
            </div>
            <div class="w-8/12 mx-auto text-9">
            {% for galleryPage in galleryPages %}
                <a href="{{ galleryPage.url }}">
                {% for image in galleryPage.imageOne %}
                    <img class="w-500 pb-40" src="{{image.url()}}" alt="work" loading="lazy">
                {% endfor %}                          
                </a>
            {% endfor %}
            </div>
        </article>
    </section>
#}