{% extends "_layout/site" %}

{% set categories = craft.categories.group('galleryFilters') %}
{% set galleryPages = craft.entries.section('galleryPages') %}

{% block content %}

<section class="hidden lg:block">
    <button class="button absolute left-100 top-[15rem] pointer border-1 border-black bg-transparent text-black py-10 px-20 transition duration-300 js-modal-button">all collections</button>
    <div class="js-modal hidden absolute top-150 left-100">
        <button class="js-close-button"><img class="w-[.75rem]" src="../assets/www/svg/cross.svg" alt="account"></button>
        <ul class="font-serif text-12 mt-40">
            {% for gallerypage in galleryPages %}
                <li class="block my-10 italic hover:not-italic"><a class="py-5" href="{{gallerypage.url()}}">{{gallerypage.title}}</a></li>
            {% endfor %}
        </ul>
    </div>
</section>


    <section class="">
        <article class="flex mb-50">
            <div class="w-8/12 mx-auto text-9 relative">
                {% for galleryPage in galleryPages %}
                    {% if galleryPage.imageAlignment == 'left' %}
                        <div class="pb-40 flex items-center justify-center fade-in">
                            <a href="{{ galleryPage.url }}" class="aspect-video cursor-pointer relative group">
                                <div class="z-50 opacity-0 group-hover:opacity-100 transition duration-300 ease-in-out cursor-pointer absolute from-black/80 to-transparent bg-gradient-to-t inset-x-0 -bottom-2 pt-30 text-white flex items-end">
                                    <div>
                                        <div class="p-10 group-hover:opacity-100 group-hover:translate-y-0 translate-y-4 pb-10 transform transition duration-300 ease-in-out">
                                            <h2 class="text-16 font-serif">{{galleryPage.title}}</h2>
                                        </div>
                                    </div>
                                </div>
                                {% for image in galleryPage.imageOne %}
                                <img alt="{{galleryPage.title}}" class="object-cover w-500 transition duration-300 ease-in-out" src="{{ image.url() }}"/>
                                {% endfor %}
                            </a>
                        </div>
                    {% elseif galleryPage.imageAlignment == 'center' %}
                        <div class="pb-40 flex items-center justify-center relative md:left-[10rem] lg:left-[20rem] fade-in">
                            <a href="{{ galleryPage.url }}" class="aspect-video cursor-pointer relative group">
                                <div class="z-50 opacity-0 group-hover:opacity-100 transition duration-300 ease-in-out cursor-pointer absolute from-black/80 to-transparent bg-gradient-to-t inset-x-0 -bottom-2 pt-30 text-white flex items-end">
                                    <div>
                                        <div class="p-10 group-hover:opacity-100 group-hover:translate-y-0 translate-y-4 pb-10 transform transition duration-300 ease-in-out">
                                            <h2 class="text-16 font-serif">{{galleryPage.title}}</h2>
                                        </div>
                                    </div>
                                </div>
                                {% for image in galleryPage.imageOne %}
                                <img alt="{{galleryPage.title}}" class="object-cover w-500 transition duration-300 ease-in-out" src="{{ image.url() }}"/>
                                {% endfor %}
                            </a>
                        </div>
                    {% elseif galleryPage.imageAlignment == 'right' %}
                        <div class="pb-40 flex items-center justify-center relative md:-right-[15rem] lg:-right-[35rem] fade-in">
                            <a href="{{ galleryPage.url }}" class="aspect-video cursor-pointer relative group">
                                <div class="z-50 opacity-0 group-hover:opacity-100 transition duration-300 ease-in-out cursor-pointer absolute from-black/80 to-transparent bg-gradient-to-t inset-x-0 -bottom-2 pt-30 text-white flex items-end">
                                    <div>
                                        <div class="p-10 group-hover:opacity-100 group-hover:translate-y-0 translate-y-4 pb-10 transform transition duration-300 ease-in-out">
                                            <h2 class="text-16 font-serif">{{galleryPage.title}}</h2>
                                        </div>
                                    </div>
                                </div>
                                {% for image in galleryPage.imageOne %}
                                <img alt="{{galleryPage.title}}" class="object-cover w-500 transition duration-300 ease-in-out" src="{{ image.url() }}"/>
                                {% endfor %}
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </article>
    </section>

<script>
// IIFE
(() => {
    const modalBtn = document.querySelector('.js-modal-button');
    const modal = document.querySelector('.js-modal');
    const closeBtn = document.querySelector('.js-close-button');

    modalBtn.addEventListener('click', () => {
        modal.classList.remove('hidden');
        closeBtn.classList.remove('hidden');
        modalBtn.classList.add('hidden');
    });
    closeBtn.addEventListener('click', () => {
        modal.classList.add('hidden');
        closeBtn.classList.add('hidden');
        modalBtn.classList.remove('hidden');
    });
})();
</script>
{% endblock %}
