{# Layouts and macros #}
{% extends "_layout/site" %}
{% import '_macros/form' as form %}

{# Set variables #}
{% if currentUser %}
    {% redirect '/account' %}
{% endif %}

{% block content %}
<section class="bg-pink py-20 lg:py-40 xl:py-70">
    <div class="container w-10/12 bg-white relative p-40 lg:p-80">
        <h1 class="text-30 font-serif uppercase mb-20">Login</h1>
        <div class="flex">
            {% include '_commerce/account/partials/accountNav' %}
            <form method="post" accept-charset="UTF-8" class="w-6/12">
                {{ csrfInput() }}
                {{ actionInput('users/login') }}                
                {{ redirectInput('account/adresboek') }}

                {{ form.input('', { placeholder: 'username'|t, id: 'loginName', name: 'loginName', type: 'loginName', value: craft.app.user.rememberedUsername }) }}
                {{ form.input('', { placeholder: 'Password'|t, id: 'password', name: 'password', type: 'password'  }) }}
                <label>
                    {{ input('checkbox', 'rememberMe', '1') }}
                    Remember me
                </label>
                <div class="w-full flex items-center justify-between mt-30">
                    <a href="{{ url('/account/wachtwoord-vergeten') }}" class="underline text-gray-400">{{ 'Wachtwoord vergeten?'|t }}</a>
                    <button class="button relative pointer border-1 border-black bg-transparent text-black mt-20 ml-auto py-10 px-20 block w-max transition duration-300">{{ 'Login'|t }}</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
