{# Layouts and macros #}
{% extends "_layout/site" %}
{% import '_macros/form' as form %}

{# Set variables #}
{% if currentUser %}
    {% redirect '/account' %}
{% endif %}

{% block content %}
<section class="bg-pink py-20 lg:py-40 xl:py-70">
    <div class="container w-10/12 bg-white relative p-40 lg:p-80">
        <h1 class="text-30 font-serif uppercase mb-20">Login</h1>
        <div class="flex">
            {% include '_commerce/account/partials/accountNav' %}
            <form method="post" accept-charset="UTF-8" class="w-5/10 | js-validate">
                {{ csrfInput() }}
                {{ redirectInput('account') }}
                <input type="hidden" name="action" value="users/login">

                <div class="mb-6">
                    {{ form.input('', { placeholder: 'E-mailadres'|t, id: 'email', name: 'email', type: 'email', value: craft.app.user.rememberedUsername }) }}
                </div>
                <div class="mb-6">
                    {{ form.input('', { placeholder: 'Wachtwoord'|t, id: 'password', name: 'password', type: 'password'  }) }}
                </div>
                <div class="mb-6">
                    {{ form.checkbox('Onthoud me?', { name: 'rememberMe', id: 'rememberMe', value: '1', checked: false, required: false  }) }}
                </div>

                <div class="w-full flex items-start justify-between">
                    <a href="{{ url('/account/wachtwoord-vergeten') }}" class="underline">{{ 'Wachtwoord vergeten?'|t }}</a>
                    <button type="submit" class="button">{{ 'Inloggen'|t }}</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
