{# Layouts and macros #}
{% extends "_layout/site" %}
{% import '_macros/form' as form %}

{# Set variables #}
{% if currentUser %}
    {% redirect '/account' %}
{% endif %}

{% block content %}

{% macro errorList(errors) %}
    {% if errors %}
        {{ ul(errors, {class: 'errors'}) }}
    {% endif %}
{% endmacro %}

{# `user` is defined if the form returns validation errors. #}
{% set user = user ?? null %}

<section class="bg-pink py-20 lg:py-40 xl:py-70">
    <div class="container w-10/12 bg-white relative p-40 lg:p-80">
        <h1 class="text-30 font-serif uppercase mb-20">Register</h1>
        <div class="flex">
            {% include '_commerce/account/partials/accountNav' %}
            <form method="post" accept-charset="UTF-8" class="w-5/10">
                {{ csrfInput() }}
                {{ actionInput('users/save-user') }}
                {{ redirectInput('account/adresboek') }}  
                            
                <div class="flex justify-between gap-10">
                    {{ form.input('', { placeholder: 'username'|t, id: 'userName', name: 'userName', type: 'userName', class: 'mr-10',  }) }}
                        {{ user ? _self.errorList(user.getErrors('username')) }}

                    {{ form.input('', { placeholder: 'fullname'|t, id: 'fullName', name: 'fullName', type: 'fullName' }) }}
                </div>
                    {{ form.input('', { placeholder: 'E-mail address'|t, id: 'email', name: 'email', type: 'email', value: craft.app.user.rememberedUsername }) }}
                    {{ form.input('', { placeholder: 'Password'|t, id: 'password', name: 'password', type: 'password'  }) }}
                <div class="flex justify-end">
                    <button type="submit" class="button relative pointer border-1 border-black bg-transparent text-black mt-20 ml-auto py-10 px-20 block w-max transition duration-300">{{ 'Register'|t }}</button>
                </div>
            </form>
        </div>
    </div>
</section>

{# <form method="post" accept-charset="UTF-8">
    <label for="username">Username</label>
    {{ input('text', 'username', user.username ?? null, {
        id: 'username',
        autocomplete: 'username',
    }) }}
    {{ user ? _self.errorList(user.getErrors('username')) }}

    <label for="full-name">Full Name</label>
    {{ input('text', 'fullName', user.fullName ?? null, {
        id: 'full-name',
        autocomplete: 'name',
    }) }}
    {{ user ? _self.errorList(user.getErrors('fullName')) }}

    <label for="email">Email</label>
    {{ input('email', 'email', user.email ?? null, {
        id: 'email',
        autocomplete: 'email',
    }) }}
    {{ user ? _self.errorList(user.getErrors('email')) }}

    <label for="password">Password</label>
    {{ input('password', 'password', null, {
        id: 'password',
    }) }}
    {{ user ? _self.errorList(user.getErrors('password')) }}
    <button>Register</button>
</form> #}

{% endblock %}
