{# Layouts and macros #}
{% extends "_layout/site" %}
{% import '_macros/form' as form %}

{# Set variables #}
{% if currentUser %}
    {% redirect '/account' %}
{% endif %}

{% block content %}
<section class="bg-pink py-20 lg:py-40 xl:py-70">
    <div class="container w-10/12 bg-white relative p-40 lg:p-80">
        <h1 class="text-30 font-serif uppercase mb-20">Register</h1>
        <div class="flex">
            {% include '_commerce/account/partials/accountNav' %}
            <form method="post" accept-charset="UTF-8" class="w-5/10 | js-validate">
                {{ csrfInput() }}
                {{ redirectInput('account') }}
                <input type="hidden" name="action" value="users/login">
                <div class="flex justify-between gap-10">
                    {{ form.input('', { placeholder: 'firstname'|t, id: 'loginName', name: 'loginName', type: 'loginName', class: 'mr-10' }) }}
                    {{ form.input('', { placeholder: 'lastname'|t, id: 'lastName', name: 'lastName', type: 'lastName' }) }}
                </div>
                    {{ form.input('', { placeholder: 'E-mail address'|t, id: 'email', name: 'email', type: 'email', value: craft.app.user.rememberedUsername }) }}
                    {{ form.input('', { placeholder: 'Password'|t, id: 'password', name: 'password', type: 'password'  }) }}
                <div class="flex justify-end">
                    <button type="submit" class="button relative pointer border-1 border-black bg-transparent text-black mt-20 ml-auto py-10 px-20 block w-max transition duration-300">{{ 'Register'|t }}</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
