{% set relatedProducts = craft.products.relatedTo(product.shopCategory).orderBy('RAND()').limit(3) %}

<div class="container w-12/12 mx-auto">
    <h3 class="uppercase text-22 text-center font-serif mx-auto">{{ "Related products"|t }}</h3>
    <ul class="flex flex-wrap justify-between mt-40 mb-80">
        {% for product in relatedProducts %}
        <li class="w-6/12 md:w-[30%]">
            <a href="{{ product.url }}">
                <div class="overflow-hidden">   
                {% for image in product.imageOne %}
                    <img  class="object-cover w-full aspect-square transition-transform transform hover:scale-105 duration-6000" src="{{image.url()}}" alt="product">
                {% endfor %}    
                </div>
                <div class="relative mt-20 mb-20 ml-40">
                    <h3 class="uppercase">{{product.title}}</h3>
                    {% include "_commerce/shop/partials/price" %}
                    <img class="absolute right-40 bottom-15" sprig s-method="post" s-action="wishlist/items/add" src="../assets/www/svg/heart-fill.svg">
                    {{ sprig.script }}
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>