<a href="{{ product.url }}" class="mb-30">
    <div class="overflow-hidden">   
    {% for image in product.imageOne %}
        <img class="object-cover w-full aspect-square transition-transform transform hover:scale-105 duration-6000" src="{{image.url()}}" alt="product">
    {% endfor %}    
    </div>

    <div class="relative mt-20 mb-20 ml-25">
        <h3 class="uppercase">{{product.title}}</h3>
        {% include "_commerce/shop/partials/price" %}
    </div>
</a>

{# Passes a variable called `entryId` into the component #}
{{ sprig('_commerce/shop/partials/wishlistActions', {'productId': product.id}) }}
{{ sprig.script }}