{# Layouts and macros #}
{% extends "_layout/site" %}
{% import '_macros/form' as form %}

{% do seomatic.meta.seoTitle('Checkout') %}

{# Set variables #}
{% if cart is not defined %}
  {% set cart = craft.commerce.carts.cart %}
{% endif %}

{# {% if currentUser and cart.lineItems|length %}
  {% redirect 'afrekenen/persoonlijke-gegevens' %}
{% endif %} #}

{% block content %}
    <section class="bg-pink py-20 lg:py-40 xl:py-70">
        <div class="container flex flex-col lg:flex-row justify-between">
            <div class="w-12/12 lg:w-[58%] bg-white relative p-40">
                {% include '_commerce/checkout/partials/checkoutNav' with { step: 1 } %}

                <h2 class="uppercase font-serif text-16 my-20">Under which e-mail address would you like to place your order?</h2>
                <form method="POST" accept-charset="UTF-8" enctype="multipart/form-data" class="mb-40 lg:mb-0 ">
                    <input type="hidden" name="action" value="commerce/cart/update-cart">
                    {{ redirectInput('checkout/persoonlijke-gegevens') }}
                    {{ csrfInput() }}

                    <div class="mb-6 mt-20">
                    {{ form.input('', { placeholder: 'e-mailadres', id: 'email', name: 'email', class: '', type: 'email', value: cart.email }) }}
                    </div>

                    {% set emailErrors = cart.getErrors('email') %}
                    {% if emailErrors|length %}
                    <span class="text-red text-sm">{{ emailErrors|join }}</span><br>
                    {% endif %}

                    <button type="submit" class="button relative pointer border-1 border-black bg-transparent text-black mt-20 ml-auto py-10 px-20 block w-max transition duration-300">{{ 'next'|t }}</button>
                </form>

                <div class="mt-20">
                    <h2 class="text-20 font-serif uppercase mb-20">Or continue as guest</h2>
                    <a href="checkout/persoonlijke-gegevens" class="button relative pointer border-1 border-black bg-transparent text-black mt-20 ml-auto py-10 px-20 block w-max transition duration-300">{{ 'continue as guest'|t }}</a>
                </div>
            </div>

            <div class="w-12/12 mt-5 lg:mt-0 lg:w-4/12 bg-white relative p-40">
                {% include "_commerce/checkout/partials/totals" %}
            </div>
        </div>
    </section>
{% endblock %}
