{# Layouts and macros #}
{% extends "_layout/site" %}
{% import '_macros/form' as form %}

{% do seomatic.meta.seoTitle('Checkout') %}

{# Set variables #}
{% if cart is not defined %}
  {% set cart = craft.commerce.carts.cart %}
{% endif %}

{# {% if currentUser and cart.lineItems|length %}
  {% redirect 'afrekenen/persoonlijke-gegevens' %}
{% endif %} #}

{% block content %}
    <section class="bg-pink py-20 lg:py-40 xl:py-70">
        <div class="container flex justify-between">
            <div class=" w-[58%] bg-white relative p-40">
                {% include '_commerce/checkout/partials/checkoutNav' with { step: 3 } %}

                <h2 class="uppercase font-serif text-16 my-20">Choose a payment method</h2>

                <form method="POST" accept-charset="UTF-8" enctype="multipart/form-data" class="js-validate">
                    <input type="hidden" name="action" value="commerce/payments/pay"/>
                    {{ redirectInput('afrekenen/bestelling?number='~cart.number) }}
                    <input type="hidden" name="cancelUrl" value="{{ '/afrekenen/betaling'|hash }}"/>
                    <input type="hidden" name="orderEmail" value="{{ cart.email }}"/>
                    {% if getenv('ENVIRONMENT') == 'production' or getenv('ENVIRONMENT') == 'staging' %}
                        {{ craft.blitz.csrfInput() }}
                    {% else %}
                        {{ csrfInput() }}
                    {% endif %}

                    {% if cart.gatewayId %}
                    <input type="hidden" name="gatewayId" value="{{ cart.gatewayId }}"/>

                    <div class="payment-radio">
                    {% for paymentMethod in cart.gateway.fetchPaymentMethods() %}
                        <div class="mb-6">
                        {{ form.radio('<div class="inline-flex items-start"><img src="'~url('mollie/payment-methods/'~paymentMethod.id~'@2x.png')~'" width="32" height="24" class="mr-4 ml-2" alt="'~paymentMethod.name~'" />' ~ paymentMethod.name~'</div>', {
                            name: 'paymentMethod',
                            id: "paymentMethod-#{paymentMethod.id}",
                            value: paymentMethod.id,
                            class: (paymentMethod.id == 'ideal' or paymentMethod.id == 'kbc') ? 'js-toggle' : '',
                            'data-target': (paymentMethod.id == 'ideal' or paymentMethod.id == 'kbc') ? "##{paymentMethod.id}-banks" : ''
                        }) }}
                        </div>
                    {% endfor %}
                    </div>
                    {% endif %}

                    <div class="flex justify-end">
                        <button type="submit" class="button relative pointer border-1 border-black bg-transparent text-black mt-20 ml-auto py-10 px-20 block w-max transition duration-300">{{ 'Pay'|t }} {{ cart.totalPrice|commerceCurrency(cart.currency) }}</button>
                    </div>
                </form>
            </div>

            <div class=" w-4/12 bg-white relative p-40">
                {% include "_commerce/checkout/partials/totals" %}
            </div>
        </div>
    </section>
{% endblock %}
