{# Layouts and macros #}
{% extends "_layout/site" %}
{% import '_macros/form' as form %}

{% do seomatic.meta.seoTitle('Checkout') %}

{% if cart is not defined %}
    {% set cart = craft.commerce.carts.cart %}
{% endif %}

{% if not cart.email or not cart.lineItems|length %}
    {% redirect 'afrekenen' %}
{% endif %}

{% if cart.shippingMethodHandle == 'pickup'
    and (not cart.pickupDate or not craft.pickupRulesModule.validPickupDate) %}
    {% redirect 'winkelmandje' %}
{% endif %}

{# Does a user exist with this email address? #}
{% set userExists = craft.users.email(cart.email).one() %}

{# Extra logic because primary address for delivery = shipping & for pickup it's billing #}
{% if cart.shippingMethodHandle == 'delivery' %}
    {% set defaultAddress = 'shipping' %}
{% else %}
    {% set defaultAddress = 'billing' %}
{% endif %}

{% block content %}
    <section class="bg-pink py-20 lg:py-40 xl:py-70">
        <div class="container flex flex-col lg:flex-row justify-between">
            <div class="w-12/12 lg:w-[58%] bg-white relative p-40">
                {% include '_commerce/checkout/partials/checkoutNav' with { step: 2 } %}

                <form method="POST" accept-charset="UTF-8" enctype="multipart/form-data" class="js-validate">
                        <input type="hidden" name="action" value="commerce/cart/update-cart">
                        {{ redirectInput('checkout/betaling') }}
                        {{ csrfInput() }}

                        {% if currentUser %}
                            <div class="w-full p-10 bg-grey bg-opacity-50 text-black text-14">You are logged in as {{ currentUser.email }} (<a href="{{ url(logoutUrl) }}" class="underline">Logout</a>)</div>
                        {% else %}
                            <div class="mt-20">
                                {{ form.input('', { placeholder: 'e-mailadres', id: 'email', name: 'email', class: 'bg-grey bg-opacity-50', type: 'email', value: cart.email }) }}
                            </div>
                        {% endif %}

                        <h2 class="uppercase font-serif text-16 my-20">Shipping address</h2>
                            {{ form.input('', { placeholder: 'Full Name*'|t, id: 'fullName', name: 'fields[fullName]', type: 'fullName', class: '' }) }}
                            {{ form.input('', { placeholder: 'Address*'|t, id: 'address', name: 'fields[address]', type: 'address', class: '' }) }}
                        <div class="flex justify-between">
                            {{ form.input('', { placeholder: 'City*'|t, id: 'city', name: 'fields[city]', type: 'city', class: '' }) }}
                            {{ form.input('', { placeholder: 'Postal Code*'|t, id: 'Postal Code', name: 'fields[Postal Code]', type: 'Postal Code', class: '' }) }}
                        </div>
                            {{ form.input('', { placeholder: 'Organisation'|t, id: 'organisation', name: 'fields[organisation]', type: 'organisation', class: '', required: false }) }}
                            {{ form.input('', { placeholder: 'Organisation Tax ID'|t, id: 'OrganisationTaxID', name: 'fields[OrganisationTaxID]', type: 'OrganisationTaxID', class: '', required: false }) }}


                        <h2 class="uppercase font-serif text-16 my-20">Billing address</h2>
                            {{ form.input('', { placeholder: 'Full Name*'|t, id: 'fullName', name: 'fields[fullName]', type: 'fullName', class: '' }) }}
                            {{ form.input('', { placeholder: 'Address*'|t, id: 'address', name: 'fields[address]', type: 'address', class: '' }) }}
                        <div class="flex justify-between">
                            {{ form.input('', { placeholder: 'City*'|t, id: 'city', name: 'fields[city]', type: 'city', class: '' }) }}
                            {{ form.input('', { placeholder: 'Postal Code*'|t, id: 'Postal Code', name: 'fields[Postal Code]', type: 'Postal Code', class: '' }) }}
                        </div>
                            {{ form.input('', { placeholder: 'Organisation'|t, id: 'organisation', name: 'fields[organisation]', type: 'organisation', class: '', required: false }) }}
                            {{ form.input('', { placeholder: 'Organisation Tax ID'|t, id: 'OrganisationTaxID', name: 'fields[OrganisationTaxID]', type: 'OrganisationTaxID', class: '', required: false }) }}

                        {% if cart.shippingMethodHandle == 'delivery' %}
                            <div class="mb-6">
                            {{ form.checkbox('Billing address same as delivery address'|t, { name: 'billingAddressSameAsShipping', id: 'shippingAddressSameAsBilling', checked: cart.billingAddress.id|default(null) == cart.shippingAddress.id|default(null) ? true : false, required: false, class: 'js-toggle', 'data-invert': '1', 'data-target': '#billingAddress' }) }}
                            </div>

                            <div id="billingAddress" class="pl-40 {{ cart.shippingAddress.id|default(null) == cart.billingAddress.id|default(null)  ? 'hidden' }}">
                            {% if addressesWithoutShipping %}
                                <div class="mb-6">
                                {% if attribute(cart, 'billingAddressId') %}
                                    {% set addressHasErrors = attribute(cart, 'billingAddress').hasErrors() %}
                                {% else %}
                                    {% set addressHasErrors = false %}
                                {% endif %}

                                {% if addressesWithoutShipping|length %}
                                <div class="mb-6">
                                    {{ form.radio('Nieuw adres'|t, {
                                    name: 'billingAddressId',
                                    id: 'billingAddressId',
                                    value: '',
                                    checked: (not addressesWithoutShipping|length or addressHasErrors) ? true : false,
                                    class: 'js-toggle',
                                    'data-target': '#new-billing-address'
                                    }) }}
                                </div>
                                {% endif %}

                                <div class="{% if  addressesWithoutShipping|length %}hidden{% endif %}" id="new-billing-address">
                                    {% include '_commerce/checkout/partials/addressForm' with {
                                    name: 'billingAddress',
                                    model: null,
                                    } %}
                                </div>
                                </div>
                            {% endif %}
                            </div>
                            
                        {% endif %}



                        <div class="mb-6 mt-40">
                            {{ form.textarea('', { class: '', name: 'fields[orderNotes]', id: 'orderNotes', required: false,
                            placeholder: 'Information about your order, e.g. Information about delivery or a message for the addressee.' }) }}
                        </div>

                        <div class="flex justify-end">
                            <button type="submit" class="button relative pointer border-1 border-black bg-transparent text-black mt-20 ml-auto py-10 px-20 block w-max transition duration-300">{{ 'continue'|t }}</button>
                        </div>
                </form>
            </div>

            <div class="w-12/12 mt-5 lg:w-4/12 bg-white relative p-40">
                <h2 class="text-20 font-serif uppercase mb-20">Cart</h2>
                <div class="border-b border-black pb-10 my-20">
                    {% for item in cart.lineItems %}
                        <div class="mb-10 flex items-center justify-between">
                            <div class="flex-grow">
                                <span class="font-medium">{{ item.qty > 1 ? "#{item.qty} ×" }}</span> {{ item.description }} <span class="italic text-pink-500 pl-10"> {{ item.purchasable.uniqueCombinationOfVariantAttributes.select('title').column()|join(', ') }}</span>  
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% include '_commerce/cart/partials/totals' with { isCartIndex: true } %}
                <a class="block mt-20 underline" href="{{ url('/cart') }}">edit shopping cart</a>
            </div>
        </div>
    </section>
{% endblock %}
