
{# Text Input Macro #}
{% macro input(label, attributes) %}
    {% set defaults = {
    type: 'text',
    required: true,
    class: "block w-full border-b border-black bg-transparent text-10 px-4 focus:outline-none"
    } %}
    {% set attributes = defaults|merge(attributes|merge({ class: "#{defaults.class} #{attributes.class|default}" })) %}
    <div class="mb-15 w-full">
    {{- label is not empty ? tag('label', {
        text: label,
        for: attributes.id,
        class: 'block',
    }) -}}
    {{- tag('input', attributes) -}}
    </div>
{% endmacro %}

{#  bg-transparent border border-black text-black placeholder-opacity-50 text-base px-4 h-10 focus:outline-none #}

{# Textarea Macro #}
{% macro textarea(label, attributes) %}
    {% set defaults = {
    type: 'text',
    required: true,
    rows: 5,
    class: 'block w-full border-b border-black bg-transparent text-10 px-4 my-10 focus:outline-none'
    } %}
    {% set attributes = defaults|merge(attributes|merge({ class: "#{defaults.class} #{attributes.class|default}" })) %}
    <div>
    {{- label is not empty ? tag('label', {
        text: label,
        for: attributes.id,
        class: 'block',
    }) -}}
    {{- tag('textarea', attributes) -}}
    </div>
{% endmacro %}

{# Checkbox Macro #}
{% macro checkbox(label, attributes) %}
    {% set defaults = {
    type: 'checkbox',
    required: true,
    value: '1',
    class: 'opacity-0'
    } %}
    {% set attributes = defaults|merge(attributes|merge({ class: "#{defaults.class} #{attributes.class|default}" })) %}

{% endmacro %}

{# Radio Macro #}
{% macro radio(label, attributes) %}
    {% set defaults = {
    required: true,
    type: 'radio',
    class: 'opacity-0'
    } %}
    {% set attributes = defaults|merge(attributes|merge({ class: "#{defaults.class} #{attributes.class|default}" })) %}

{% endmacro %}

{# Select Macro #}
{% macro select(label, attributes, options) %}
    {% set defaults = {
    required: true,
    class: 'w-full min-w-20 bg-transparent text-black border border-black h-10 appearance-none px-4 cursor-pointer',
    html: options|map((option) => tag('option', (attributes.value == option.value) ? option|merge({ selected: true }) : option))|join|raw
    } %}
    {% set attributes = defaults|merge(attributes|merge({ class: "#{defaults.class} #{attributes.class|default}" })) %}
    <div>
    {{- label is not empty ? tag('label', {
        text: label,
        for: attributes.id,
        class: 'block',
    }) -}}
        <div class="relative w-full">
            {{- tag('select', attributes) -}}
            <div class="pointer-events-none absolute inset-y-0 right-0 flex flex-col justify-center pr-3">
            {{ svg('../assets/www/svg/selector.svg')|attr({ width: 24, height: 24, class: '' }) }}
            </div>
        </div>
    </div>
{% endmacro %}