{# Template: {{ _self }}.twig #}

{# {% set navItems = craft.entries().section('pages').level(1).offset(1).limit(4) %} #}

<nav class="hidden z-100 fixed overflow-hidden w-screen h-screen bg-black top-0 left-0 flex items-center | js-nav">
    <div class="hidden md:block image-holder w-6/12 h-fit">
    {% if entry is defined %}
        {% for image in entry.navImage %}
            <img class="h-screen w-full object-cover object-top relative top-0 left-0" src="{{image.url()}}" alt="hero">
            {% else %}
            <img class="image" src="../assets/www/images/work.png">
        {% endfor %}
        {% else %}
        <img class="image" src="../assets/www/images/work.png">
    {% endif %}
    </div>
    <div class="w-12/12 md:w-4/12 mx-auto text-white uppercase">
        <ul class="list mt-60 ml-30 lg:mt-100 lg:ml-0 font-serif text-20 lg:text-25">
            {% for item in mainNav %}                
                <li class="block my-25 italic hover:not-italic">
                        <a href="{{ item.url }}" class="py-5">
                            {{ item.title }}
                        </a>
                </li>
            {% endfor %}
        </ul>
        <div class="mt-20 ml-30 lg:ml-0 lg:mt-150 font-sans text-12 flex flex-wrap gap-20 lg:gap-40">
            {% if generalData.facebookLink is not null and generalData.facebookLink is defined %}
                <a target="_blank" href="{{generalData.facebookLink}}">Facebook</a>
            {% endif %}        
            {% if generalData.instagramLink is not null and generalData.instagramLink is defined %}
                <a target="_blank" href="{{generalData.instagramLink}}">Instagram</a>
            {% endif %}   
            {% if generalData.linkedinLink is not null and generalData.linkedinLink is defined %}
                <a target="_blank" href="{{generalData.linkedinLink}}">LinkedIn</a>
            {% endif %}       
            
            {% include "_layout/partials/language-switcher.twig" %}
        </div>
    </div>
</nav>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>

<script>
    $('.list li a').hover(function() {
        var value = $(this).attr('data-src');
        gsap.to('.image-holder img', {
            duration: 0.4,
            opacity: 0,
            onComplete: function() {
            $('.image-holder img').attr('src', value);
            gsap.to('.image-holder img', {
                duration: 0.2,
                opacity: 1,
                ease: Power1.easeOut
            });
            },
            ease: Power1.easeInOut
        });
    });
</script>