{# Layouts and macros #}
{% extends "_layout/site" %}

{# Set variables  #}
{% set cart = craft.commerce.carts.cart %}

{% block content %}

<section class="">
    <div class="container">
        <div class=" flex lg:justify-between flex-col lg:flex-row">
            {# left column #}
            <div class="lg:w-1/2 flex flex-col items-start">
                {# product images #}
                <div class="w-full flex flex-col md:flex-row justify-between relative">
                    <div class="relative w-full aspect-square">
                        {% for image in product.imageOne %}
                            <img src="{{image.url()}}" alt="hero">
                        {% endfor %}
                    </div>
                </div>

                {# usp #}
                <div class="bg-pink py-40 pr-70 pl-60 ml-30 mb-80">
                    <ul class="z-[1]">
                        {% for item in commonlyUsed.usp %}
                        <li class="flex {{ not loop.last ? 'mb-10' }}">
                            <img class="" src="../assets/www/svg/check.svg" alt="heart">
                            <p class="ml-20 text-10">{{ item.usp }}</p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            {# right column #}
            <div class="lg:w-1/2 px-60 my-80 lg:mb-0">
                <h1 class="text-20 font-sans uppercase">{{ product.title }}</h1>

                {# price #}
                <div class="mt-15">
                    {% include "_commerce/shop/partials/price" %}
                </div>

                {% if product.descriptionOne %}
                    <div class="mt-30">
                        <p class="text-9">{{ product.descriptionOne|nl2br }}</p>
                    </div>
                {% endif %}

                <div class="flex items-center justify-between mt-20">
                    <button class="bg-black text-white py-10 px-20 block w-max">add to my bag</button>
                    <span class="flex items-center"><img class="mr-10" src="../assets/www/svg/heart-fill.svg" alt="heart"> add to my wishlist</span> 
                </div>

            </div>
        </div>
    </div>
</section>

{% include "_commerce/shop/partials/relatedProducts" %}
{% endblock %}