{# Layouts and macros #}
{% extends "_layout/site" %}

{% import '_macros/form' as form %}

{# Set variables  #}
{% set cart = craft.commerce.carts.cart %}

{# Get all options (and their labels) for this product #}
{# {% set variantAttributesValues = craft.entries.section('variantAttributeOptionValues').relatedTo(product.variants|filter(el => el.enabled)).all() %}
{% set variantAttributesLabels = craft.entries.section('variantAttributeOptionLabels').relatedTo(variantAttributesValues|default([0])).all() %} #}

{# Get the current set of options #}
{# {% set selectedOptions = craft.app.request.getBodyParam('options') %}
{% if selectedOptions is null %}
    {% set selectedOptions = [] %}
    {% for item in product.defaultVariant.uniqueCombinationOfVariantAttributes.all() %}
        {% set selectedOptions = selectedOptions|merge({(item.variantAttributeLabel.one().slug): item.id}) %}
    {% endfor %}
{% endif %} #}

{# Set the current variant based on the chosen options #}
{# We should have a fallback for if this fails #}
{# {% set filteredVariants = product.variants|filter(el => el.enabled) %}
{% for option, value in selectedOptions %}
    {% set filteredVariants = filteredVariants|filter(el => value in el.uniqueCombinationOfVariantAttributesIds|split(',')) %}
{% endfor %}
{% set filteredVariants = filteredVariants|first|default(null) %} #}

{# Set current variant, fallback to default #}
{# {% set currentVariant = filteredVariants|default(product.defaultVariant) %}
{% set currentVariantOptionIds = currentVariant.uniqueCombinationOfVariantAttributesIds|split(',') %} #}

{% block content %}

<section class="">
    <div class="container">
        <div class=" flex lg:justify-between flex-col lg:flex-row">
            {# left column #}
            <div class="lg:w-1/2 flex flex-col items-start">
                {# product images #}
                <div class="w-full flex flex-col md:flex-row justify-between relative">
                    <div class="relative w-full aspect-square">
                        {% for image in product.imageOne %}
                            <img src="{{image.url()}}" alt="hero">
                        {% endfor %}
                    </div>
                </div>

                {# usp #}
                <div class="bg-pink py-40 pr-70 pl-60 ml-30 my-80">
                    <ul class="z-[1]">
                        {% for item in commonlyUsed.usp %}
                        <li class="flex {{ not loop.last ? 'mb-10' }}">
                            <img class="" src="../assets/www/svg/check.svg" alt="heart">
                            <p class="ml-20 text-10">{{ item.usp }}</p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            {# right column #}
            <div class="lg:w-1/2 px-60 mt-20 lg:mb-0">
                <h1 class="text-20 font-sans uppercase">{{ product.title }}</h1>

                <form method="post" class="js-validate mb-40" action="{{ url(craft.app.request.pathInfo) }}" accept-charset="UTF-8" enctype="multipart/form-data">
                    {{ csrfInput() }}
                    {{ redirectInput('cart') }}
                    {{ actionInput('commerce/cart/update-cart') }}
                    {% for variant in product.variants %}
                        <input type="hidden" name="purchasables[{{ variant.id }}][id]" value="{{ variant.id }}">
                        <input type="hidden" name="purchasables[{{ variant.id }}][qty]" value="1">
                    {% endfor %}
                    {{ hiddenInput('qty', 1) }}
                    {{ successMessageInput('{product} added to cart.'|t({
                        product: product.title
                    })) }}
                    {{ not cart.shippingMethodHandle ? hiddenInput('shippingMethodHandle', 'delivery') }}

                    {# price #}
                    <div class="mt-10 text-12">
                        {% include "_commerce/shop/partials/price" %}
                    </div>

                    {# description #}
                    {% if product.descriptionOne %}
                        <p class="my-30 text-10">{{ product.descriptionOne|nl2br }}</p>
                    {% endif %}

                    <p class="mt-15 mb-5">Frame type</p>
                    <select class="border-none bg-grey bg-opacity-25 h-auto w-full p-10 leading-normal" name="purchasableId">
                        {% for variant in product.variants %}
                            <option class="p-10" value="{{ variant.id }}">{{ variant.sku }}</option>
                        {% endfor %}
                    </select>

                    <p class="mt-15 mb-5">Material</p>
                    <select class="border-none bg-grey bg-opacity-25 h-auto w-full p-10 leading-normal" name="purchasableId">
                        {% for variant in product.variants %}
                            <option class="p-10" value="{{ variant.id }}">{{ variant.sku }}</option>
                        {% endfor %}
                    </select>

                    <p class="mt-15 mb-5">Print size</p>
                    <select class="border-none bg-grey bg-opacity-25 h-auto w-full p-10 leading-normal" name="purchasableId">
                        {% for variant in product.variants %}
                            <option class="p-10" value="{{ variant.id }}">{{ variant.sku }}</option>
                        {% endfor %}
                    </select>

                    {# if the product is not in stock #}
                    {% if product.defaultVariant.stock >= 1 or product.defaultVariant.stock == ''%}
                        <div class="flex flex-row flex-wrap items-center justify-start gap-20 mt-20">
                            <button type="submit" class="bg-black text-white py-10 px-20 block w-max | js-buy" data-style="zoom-out" data-spinner-color="#000">{{'add to my bag'|t}}</button>
                            <span class="flex items-center"><img class="mr-10" src="../assets/www/svg/heart-fill.svg" alt="heart"> add to my wishlist</span> 
                        </div>
                    {% else %}
                        <div class="bg-red-100 p-6 mt-20 border border-red-200 text-red-500">Momenteel niet beschikbaar</div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</section>

{% include "_commerce/shop/partials/relatedProducts" %}
{% endblock %}