{# Layouts and macros #}
{% extends "_layout/site" %}
{% import '_macros/form' as form %}

{% if cart is not defined %}
    {% set cart = craft.commerce.carts.cart %}
{% endif %}

{% block content %}
<section class="bg-pink py-20 lg:py-40 xl:py-70">
    <div class="container w-10/12 bg-white relative p-40 lg:p-80">
        <h1 class="text-30 font-serif uppercase">Cart</h1>
        {% if not cart.lineItems|length %}
        <div class="body">
            <p class="my-30">{{'Your shopping bag is still empty'|t}}</p>
            <a class="border border-black bg-white text-black py-10 px-20 block w-max" href="{{ url('shop') }}">{{ 'Add products'|t }}</a>
        </div>
        {% else %}
        
        <form method="POST" class="w-full mb-10" accept-charset="UTF-8" enctype="multipart/form-data" onkeydown="return event.key != 'Enter';">
            <input type="hidden" name="action" value="commerce/cart/update-cart">
            {{ redirectInput(craft.app.request.pathInfo) }}
            {{ csrfInput() }}
            {% set lineItemHasErrors = false %}

            {% for item in cart.lineItems %}
            <div class="flex justify-between items-center {{ not loop.last ? 'mb-20' }}">
            <a href="{{ item.purchasable.product.url }}" class="hidden md:flex flex-grow-0 mr-6 w-1/6">
                {{ transform.image(item.purchasable.product.image1.one|default('/fallback/fallback.jpg'), { width: 120, height: 120 }) }}
            </a>
            <div class="w-[40%] lg:w-3/6 pr-4">
                <div class="">
                <h3 class="font-serif mb-3">{{ item.purchasable.product.filterMerken[0].title }}</h3>
                <span class="block">{{ item.description }}</span>
                <span class="block">{{ item.purchasable.descriptionOne }}</span>
                </div>
                {% set pickupRules = craft.entries.section('pickupRules').relatedTo([
                'or',
                { targetElement: item.purchasable.product },
                { targetElement: item.purchasable.product.shopCategory.one()|default([]) }
                ]).all() %}
                {% if pickupRules %}
                <div class="">
                {% for item in pickupRules %}
                {{ item.pickupRuleMessage }}
                {% endfor %}
                </div>
                {% endif %}
                <button type="submit" name="lineItems[{{ item.id }}][remove]" value="1" class="underline" title="Verwijder {{ item.description }}">
                verwijderen
                </button>
            </div>
            <div class="">
                {% include '_commerce/shop/partials/spinner' with { name: "lineItems[#{item.id}][qty]", qty: item.qty, variant: item.purchasable, cart: cart } only %}
            </div>
            <div class="w-1/6 text-right flex-shrink-0 font-bold">
                {% include '_commerce/checkout/partials/price' with { variant: item, cart: cart } only %}
            </div>
            </div>
            {% endfor %}
        </form>
        <div class="flex">
            <a href="{{ url('/checkout') }}" class="underline">{{ 'go to checkout'|t }}</a>
        </div>

        {% endif %}
    </div>
</section>
{% endblock %}
